.car-item{
}

.event-image{
    width: 80%
    object-fit: contain;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .navbar{
 }

 .navbar-links{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
 }

 .nav-item:hover{
    color:blue;
 }

 .main-box{
    border-style: solid;
    border-color: #080401;
    border-width: 3px;
 }

 .normal-text{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color: black;
    font-size: 18px;
    text-align: justify;
 }

 .quote-box{
    border-right:double #0ef21a 10px;
    background-color: #f8f9fa;
 }

 .quote-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    font-style: italic;
    text-align: justify;
    color: black;
 }

 .quote-by{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: black;
 }

 .announcement-btn{
   font-family: 'Times New Roman', Times, serif;
   font-size: 16px;
   border: solid;
   border-radius: 10px;
   border-width: 2px;
   background-color: #f0f0f0;
   color: black;
   border-color: blue;
 }

 .announcement-btn:hover{
   font-family: 'Times New Roman', Times, serif;
   font-size: 16px;
   border: solid;
   border-radius: 10px;
   border-width: 2px;
   background-color: blue;
   color: #f0f0f0;
   border-color: #f0f0f0;
   transition-duration: 0.3s;
   transition-timing-function: linear;
 }

 .bg {
   /* The image used */
   background-image: url(assets/pexels-ethan-sees-2534617.jpg);
 
   /* Full height */
   height: 100%; 
 
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }

 .team-box{
   
}

.team-image{
   
}

.team-page{
   
}

.team-name{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: bold;
   font-size: 20px;
   color: black;
}

.team-des{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-style: italic;
   font-size: 18px;
   color: blue;
}

.team-mail{
   text-decoration: none;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   color: black;
}

.team-mail:hover{
   text-decoration: none;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   color: blue;
   transition-duration: 0.3s;
   transition-timing-function: linear;
}

.team-details{
   font-family: 'Times New Roman', Times, serif;
   font-size: 19px;
   color: black;
}